<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<appender name="serverConsole"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>

		<File>/home/admin/log/esurfing-loan/repayment/catalina-repayment.out</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/admin/log/esurfing-loan/repayment/catalina-repayment.out.%d{yyyy-MM-dd}.log

			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		  <encoder>
    		<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{80} - %msg %n</Pattern>
  		  </encoder> 
	</appender>

	<appender name="server-error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>
		<File>/home/admin/log/esurfing-loan/repayment/esurfing-repayment-error.log</File>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
    		<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
  		</encoder> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/admin/log/esurfing-loan/repayment/esurfing-repayment-error.%d{yyyy-MM-dd}.log

			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="server-warn"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>
		<File>/home/admin/log/esurfing-loan/repayment/esurfing-repayment-warn.log</File>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
    		<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
  		</encoder> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/admin/log/esurfing-loan/repayment/esurfing-repayment-warn.%d{yyyy-MM-dd}.log

			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="com.vcredit" level="INFO">
		<appender-ref ref="server-error" />
		<appender-ref ref="server-warn" />
	</logger>

	<root level="INFO">
		<appender-ref ref="serverConsole" />
	</root>
</configuration>